{% extends 'admin_boilerplate.html' %}

{% macro menu_filter() %}
    <h2>Filter</h2>
    <form>
      <br/>
      <input type="text" placeholder="Enter Search Query" id="filter"/>
    </form>
{% endmacro %}

{% macro menu_articles() %}
  <h1>Articles</h1>
  <ul class="actions square">
    <li><a href="{{ url_for('admin.create_article') }}" class="write-new">Write an article&hellip;</a></li>
    <li><a href="{{ url_for('admin.list_articles') }}">Your Articles</a></li>
  </ul>
{% endmacro %}

{% macro menu_editor() %}
  <h1>Editor</h1>
  <ul class="actions square">
    <li><a href="{{ url_for('admin.dashboard_editor') }}">Manage Articles</a></li>
  </ul>
{% endmacro %}

{% macro menu_events() %}
  <h1>Events</h1>
  <ul class="actions square">
    <li><a href="{{ url_for('admin.list_events') }}">Manage Events</a></li>
  </ul>
  <div class="inner">
    <ul class="actions square">
      <li><a href="{{ url_for('admin.create_event') }}">Create an Event</a></li>
    </ul>
  </div>
{% endmacro %}

{% macro menu_moderation() %}
  <h1>Moderation</h1>
  <ul class="actions square">
  </ul>
{% endmacro %}

{% macro menu_pages() %}
  <h1>Pages</h1>
  <ul class="actions square">
    <li><a href="{{ url_for('admin.list_pages') }}">Manage Pages</a></li>
  </ul>
  <div class="inner">
    <ul class="actions square">
      <li><a href="{{ url_for('admin.create_page') }}">Create a Page</a></li>
    </ul>
  </div>
{% endmacro %}

{% macro menu_site() %}
  <h1>Site</h1>
  <ul class="actions square">
  {% if g.user.allowed_to('view_logs') %}
    <li><a href="{{ url_for('admin.view_logs') }}">View Logs</a></li>
  {% endif %}
  </ul>
{% endmacro %}

{% macro menu_users() %}
  <h1>Users</h1>
  <ul class="actions square">
    <li><a href="{{ url_for('admin.list_users') }}">Manage Users</a></li>
  </ul>
  <div class="inner">
    <ul class="actions square">
      <li><a href="{{ url_for('admin.create_user') }}">Create a User</a></li>
    </ul>
  </div>
{% endmacro %}

{% macro menu() %}
    {{ menu_filter() }}
  {% if g.user.allowed_to('manage_articles') %}
    <div class="editor">
      {{ menu_editor() }}
    </div>
  {% endif %}
  {% if g.user.allowed_to('manage_events') %}
    <div class="events">
      {{ menu_events() }}
    </div>
  {% endif %}
  {% if g.user.allowed_to('moderate') %}
    <div class="moderation">
      {{ menu_moderation() }}
    </div>
  {% endif %}
  {% if g.user.allowed_to('manage_pages') %}
    <div class="pages">
      {{ menu_pages() }}
    </div>
  {% endif %}
  {% if g.user.allowed_to('write_articles') %}
    <div class="articles">
      {{ menu_articles() }}
    </div>
  {% endif %}
  {% if g.user.allowed_to('manage_site') %}
    <div class="site">
      {{ menu_site() }}
    </div>
  {% endif %}
  {% if g.user.allowed_to('manage_users') %}
    <div class="users"> 
      {{ menu_users() }}
    </div>
  {% endif %}

{% endmacro %}
{% block admin %}
  <div class="container">
    <header class="sixteen columns">
      <div class="eleven columns alpha omega">
        <h1 class="remove-bottom"><a href="{{ url_for('admin.home') }}">Brighton Feminist Collective</a></h1>
      </div>
      <div class="five columns alpha omega">
        <p class="welcome-user">
          Welcome back, <span class="user">{{ g.user.firstname }} {{ g.user.surname }}</span>
          <a href="{{ url_for('admin.logout') }}">Logout</a>
        </p>
        <p class="welcome-group">
          <span class="group">{{ g.user.group.name }}</span>
        </p>
      </div>
    </header>
    <nav class="four columns {{ g.section }}">
    {% block nav_column %}
      {{ menu() }}
    {% endblock %}
    </nav>
    <section class="twelve columns">
    {{ flashes() }}
    {% block main_column %}
      <p>There really should be something here.</p>
    {% endblock %}
    </section>
{% endblock %}