{% extends 'page.html' %}
{% block title %}{{ article.title }} - Brighton Feminist Collective{% endblock %}
{% block meta_description %}{{ article.excerpt }}{% endblock %}
{% block meta_author %}{{ article.author.displayed_name }}{% endblock %}
{% block content %}
    {% block header %}
        <header class="ten columns article-header alpha omega offset-by-one">
            {{ article.tags_html }}
            <a href="{{ article.category.url }}" class="category">{{ article.category.title }}</a>
            <h1><span>{{ article.title }}</span></h1>
            <span class="subtitle">{{ article.subtitle }}</span>
            <span class="article display author">By {{ user_link(article.author) }}</span>
            <span class="date">{{ article.pub_date.strftime('%B %d, %Y') }}</span>
        </header>
    {% endblock %}
    {% block body %}
        <div class="ten columns offset-by-one alpha article-body">
            {{ article.body|markdown }}
        </div>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'brightonfeministcollective'; // required: replace example with your forum shortname
            var disqus_identifier = '{{ g.canonical_url }}';
            var disqus_url = 'http://www.brightonfeministcollective.org.uk{{ g.canonical_url }}';
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endblock %}1
{% endblock %}