{% extends 'macros.html' %}
{%- macro user_link(user) -%}
<a href="{{ user.url }}">{{ user.displayed_name }}</a>
{%- endmacro -%}
{%- macro article_link(article) -%}
<a href="#">{{ article.title }}</a> by {{ user_link(article.author) }}
{%- endmacro -%}
{% block main %}<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<title>{% block title %}Brighton Feminist Collective{% endblock %}</title>
	<meta name="description" content="{% block meta_description %}Started in December 2011, Brighton Feminist Collective is a sex-positive, pro-choice, trans-inclusive, and anti-exploitation feminist activist group.{% endblock %} " />
	<meta name="author" content="{% block meta_author %}Dapper Dog Studios{% endblock %}">
	<meta name="keywords" content="brighton, feminist, collective,  abort67, reclaim, dancefloor, abortion, feminism, activist, kyriarchy"/>

	<meta name="viewport" content="width=device-width" />
	<meta name="google-site-verification" content="w75DgnsnUjKK-QPT8wVABkSvoGYudGhpF12G5k0QaT4" />
	<meta name="google-site-verification" content="pca_v7HOtC5Xp0rnP5SMIr3tIO7r1UxqRT4SS3B-a8M" />
	<link href='http://fonts.googleapis.com/css?family=Poly:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">

	<link rel="canonical" href="http://www.brightonfeministcollective.org.uk{{ g.canonical_url }}" />
	{% block css %}{% endblock %}
	<script src="{{ url_for('static', filename='js/libs/modernizr-2.5.2.min.js') }}"></script>

	<script>
		var _gaq=[['_setAccount','UA-29822466-1'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https://ssl.google-analytics.com/ga.js');
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
	<script>
		window.domain_name = '{{ g.domain_name }}';
	</script>
</head>
<body>
<div id="main-container" class="container">
	<header class="main-header">
		<div class="sixteen columns">
			<h1><a href="/">Brighton Feminist Collective</a></h1>
		</div>
		<nav class="sixteen columns alpha omega">
			<ul class="primary">
				{% for section in g.sections %}
					<li class="
						{%- if section['slug'] == selected_section_slug: -%}
							selected
						{%- endif -%}"
					><a href="{{ section['url'] }}">{{ section['title'] }}</a>
				{% endfor %}
			</ul>
			<ul class="secondary">
				{% for item in g.secondary_nav %}
					<li class="
						{%- if item.slug == selected_secondary_slug: -%}
							selected
						{%- endif -%}"
					><a href="{{ item.url }}">{{ item.title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</header>
	<section id="main" class="twelve columns main-column">
		{{ flashes() }}
		{% block content %}
		{% endblock %}
	</section>
	<aside class="columns four alpha omega" id="twitter">
	</aside>
	<footer class="columns sixteen alpha omega">
		Website by <a href="http://www.dapperdogstudios.com">Dapper Dog Studios</a>, Copyright &copy; 2012 Brighton Feminist Collective
	</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/libs/jquery-1.7.1.min.js') }}"><\/script>')</script>

<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% block js %}{% endblock %}

</body>
</html>
{% endblock %}