{% extends 'page.html' %}
{% block title %}{{ page.title }} - Brighton Feminist Collective{% endblock %}
{% block meta_description %}{{ page.excerpt }}{% endblock %}
    {% block header %}
        <header class="twelve columns alpha omega">
            {{ page.tags_html|safe }}
            <h1>{{ page.title }}</h1>
            <span class="subtitle">Location: <a href="https://maps.google.co.uk/?q={{ page.location }}">{{ page.location }}</a></span>
            <span class="event date">Starts: {{ page.start.strftime('%B %d, %Y @ %H:%M') }}</span>
            <span class="event date">Ends: {{ page.end.strftime('%B %d, %Y @ %H:%M') }}</span>
        </header>
    {% endblock %}