{% extends 'base.html' %}
{% block content %}
    <header class="twelve columns alpha omega ">
        <h1>Registration</h1>
        <p>Registration will allow you initially to post comments. New writers are always welcome.</p>
        <p>Sign-up and e-mail <a href="mailto:brightonfeminists@gmail.com">brightonfeminists@gmail.com</a> if you'd like to submit articles!</p>
    </header>

    <div class="twelve columns alpha omega">
        <form method="POST">
            {% for field in form %}
                {{ render_field(field) }}
            {% endfor %}
            <input type="submit" value="{{ submit }}">
        </form>
    </div>
{% endblock %}