<h1>Hi, {{ user.firstname }}!</h1>
<p>Welcome to the Brighton Feminist Collective website.</p>
<p>All you need to do now is click
    <a href="{{ activate_url }}">here</a> and your
    account will be activated.</p>